# Node dependencies
node_modules/
dist/
build/
.npm
.eslintcache

# Python environment & cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
env/
venv/

# Environment files and keys
.env
.env*.local

# System/IDE files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
